{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page__body">
    <a href="{{request.META.HTTP_REFERER}}">&laquo; back</a>
    <div class="details__page__body">
    <div class="LOGO">
        <img src="{% static 'images/details.png' %}"/>
    </div>
    <div class="todo__details">
    <h2>{{todo.title}}</h2>
    <span><strong>Description :</strong> {{todo.description}}<span>
    <p><strong>Is completed ? :</strong> {{todo.is_completed}}<p>
    <a href="{% url 'update' todo.id %}" class="update__link">update</a>
    <a href="{% url 'delete' todo.id %}" class="delete__link">Delete</a>
    </div> 
    </div>
    </div>
{% endblock %}