{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page__body">
    <a href="{{request.META.HTTP_REFERER}}">&laquo; back</a>
    <h3>Reset your password</h3>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <div class="RESET_FORM">
    <form method="POST">
       {% csrf_token %}
       {{form}}
       <button class="auth__link">Reset my password</button>
    </form>
    </div>
</div>
{% endblock %}